// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Utilities
@import './utilities.scss';

// Auth
@import './auth/login.scss';
@import './auth/passwords/email.scss';

// Components
@import './components/loader.scss';
@import './components/navbar.scss';


// scrollbar
::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bs-dark);
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: $violet;
    border-radius: 3px;
}


// set height
html {
    height: 100vh;
    min-height: 100vh;
}

body,
#app,
main {
    height: 100%;
}

main {
    padding-top: 75px;
    padding-bottom: 50px;
}

// reset
img {
    width: 100%;
    height: 100%;
    display: block;
}

// table
table {
    thead {
        tr {
            th {
                color: $violet;
            }
        }
    }

    tr{
        th,
        td {
            white-space: nowrap !important;
        }
    }
}

// section
section {
    padding-bottom: 70px;
}

// page link
.page-link {
    color: $light-gray;
    border-color: $violet;

    &:hover {
        background-color: $violet;
        color: $black !important;
        border-color: $violet !important;
    }
}

.page-link.active, .active > .page-link {
    background-color: $violet;
    color: $black;
    border-color: $black;
}

.page-link.disabled, .disabled > .page-link {
    color: $violet;
    background-color: transparent;
    border-color: $violet;
}


// input checkbox
.form-check-input {
    border-color: $violet;
    width: 16px;
    height: 16px;
    margin-right: 10px;

    &:focus {
        border-color: $violet;
        box-shadow: 0 0 0 0.25rem rgba($color: $violet, $alpha: 0.25);
    }
}

// form select
.form-select {
    border: none;
    color: $violet;
}