// TEXT
.text-violet {
    color: $violet !important;
}

.text-light-gray {
    color: $light-gray !important;
}


// LINKS
.link-violet {
    color: $violet;
    
    &:hover {
        color: $light-gray;
        transition: color .3 ease-in-out;
    }

    &.active {
        color: $violet !important;
    }
}

.link-light-gray {
    color: $light-gray;
    text-decoration: none;

    &:hover {
        color: $violet;
        transition: color .3 ease-in-out;
    }

    &.active {
        color: $violet !important;
    }
}


// INPUTS / TEXTAREA
.input-violet,
.text-area-violet {
    color: $light-gray !important;
    border: none !important;

    &:read-only {
        pointer-events: none;
    }
}


// BUTTONS
.btn-violet,
.btn-violet.show {
    color: $black;
    background-color: $violet;

    &:hover,
    &:active,
    &:focus-visible,
    &:focus {
        background-color: rgba($color: $violet, $alpha: 0.8) !important;
        transition: background-color .3s ease-in-out;
        color: $black;
    }

    &:disabled {
        background-color: rgba($color: $violet, $alpha: 0.5) !important;
        border: none;
        color: $black;
    }

    &.disabled {
        background-color: rgba($color: $violet, $alpha: 0.5) !important;
        border: none;
        color: $black;
    }
}

.btn-transparent,
.btn-transparent.show {
    color: $violet;
    background-color: transparent;
    border: 1px solid $violet;

    &:hover,
    &:active,
    &:focus-visible,
    &:focus {
        background-color: rgba($color: $violet, $alpha: 0.8) !important;
        transition: background-color .3s ease-in-out;
    }

    &:disabled {
        opacity: 0.35;
    }
}


// BOX SHADOW
.shadow-top {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.20) !important;
}


// Z-INDEX
.z-50 {
    z-index: 50;
}