// TEXT
.text-orange {
    color: $orange !important;
}

.text-light-gray {
    color: $light-gray !important;
}


// LINKS
.link-orange {
    color: $orange;
    
    &:hover {
        color: $light-gray;
        transition: color .3 ease-in-out;
    }

    &.active {
        color: $orange !important;
    }
}

.link-light-gray {
    color: $light-gray;
    text-decoration: none;

    &:hover {
        color: $orange;
        transition: color .3 ease-in-out;
    }

    &.active {
        color: $orange !important;
    }
}


// INPUTS / TEXTAREA / SELECT / LABEL
.input-orange,
.text-area-orange {
    color: $light-gray !important;
    border: none !important;

    &:focus {
        outline: 2px solid rgba($color: $orange, $alpha: 0.5) !important;
    }

    &:read-only {
        pointer-events: none;
        background-color: $gray-dark;

        & ~ label::after {
            background-color: transparent !important;
        }
    }
}

.select-orange {
    color: $light-gray !important;
    border: none !important;

    &:focus {
        outline: 2px solid rgba($color: $orange, $alpha: 0.5) !important;
    }
    
    &:disabled {
        background-color: $gray-dark;
        pointer-events: none;

        & ~ label::after {
            background-color: initial;
        }
    }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $light-gray !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


// BUTTONS
.btn-orange,
.btn-orange.show {
    color: $black;
    background-color: $orange;
    position: relative;

    .tooltiptext-bottom {
        visibility: hidden;
        background-color: rgba($color: $orange, $alpha: 0.85);
        color: $black;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        padding: 3px 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(38px) translateX(-50%);
        z-index: 1;
        white-space: nowrap;
        box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: 0.15);
    }

    &:hover {
        .tooltiptext-bottom {
            visibility: visible;
            transition: visibility .3s ease-in-out;
        }
    }

    &:hover,
    &:active,
    &:focus-visible,
    &:focus {
        background-color: rgba($color: $orange, $alpha: 0.8) !important;
        transition: background-color .3s ease-in-out;
        color: $black;
    }

    &:disabled {
        background-color: rgba($color: $orange, $alpha: 0.5) !important;
        border: none;
        color: $black;
    }

    &.disabled {
        background-color: rgba($color: $orange, $alpha: 0.5) !important;
        border: none;
        color: $black;
    }
}

.btn-transparent,
.btn-transparent.show {
    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;

    &:hover,
    &:active,
    &:focus-visible,
    &:focus {
        background-color: rgba($color: $orange, $alpha: 0.8) !important;
        transition: background-color .3s ease-in-out;
    }

    &:disabled {
        opacity: 0.35;
    }
}


// BADGE
.badge-orange {
    background-color: $orange;
    color: $black;
    text-align: center;
    max-width: max-content;
}


// BOX SHADOW
.shadow-top {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.20) !important;
}


// Z-INDEX
.z-50 {
    z-index: 50;
}


// BORDERS
.border-bottom-violet {
    border-bottom: 1px solid $orange;
}


// SWEET ALERT & MODAL
.swal2-popup {
    background: var(--bs-dark) !important;
    padding: 20px 4px !important;
    color: $white !important;

    .swal2-title {
        color: $orange !important;
    }

    .swal2-html-container {
        margin-bottom: 15px;
    }

    .swal2-confirm {
        background-color: $orange !important;
        color: $black !important;
        font-weight: bold !important;

        &.swal2-styled:hover {
            background-color: rgba($color: $orange, $alpha: 0.8) !important;
            transition: background-color .3s ease-in-out;
        }

        &.swal2-styled:focus {
            box-shadow: none !important;
        }
    }
}

.modal {
    .modal-content {
        background-color: $dark;

        .modal-header {
            .modal-title {
                color: $light-gray;
            }

            .btn-close {
                filter: invert(100%);
            }
        }

        .modal-header,
        .modal-footer {
            border: 0;
        }
    }
}


// TOOLTIPS
.tooltip-wrapper {
    position: relative;
    max-width: max-content;
    cursor: pointer;

    .tooltiptext-right {
        position: absolute;
        min-width: 165px;
        max-width: 200px;
        visibility: hidden;
        background-color: $orange;
        color: $black;
        font-weight: bold;
        border-radius: 6px;
        padding: 5px 10px;
        top: 50%;
        left: 100%;
        transform: translateX(12px) translateY(-60%);
        z-index: 1;
        box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: 0.20);
    }

    &:hover {
        .tooltiptext-right {
            visibility: visible;
            transition: visibility .3s ease-in-out;
        }
    }
}


// CURSOR
.cursor-pointer {
    cursor: pointer;
}

// table
table {
    thead {
        tr {
            th {
                color: $orange;
            }
        }
    }

    tr {
        th,
        td {
            white-space: nowrap !important;
        }
    }
}

// page link
.pagination {
    flex-wrap: wrap;
}

.page-link {
    color: $light-gray;
    border-color: $orange;

    &:hover {
        background-color: $orange;
        color: $black !important;
        border-color: $orange !important;
    }
}

.page-link.active,
.active > .page-link {
    background-color: $orange;
    color: $black;
    border-color: $black;
}

.page-link.disabled,
.disabled > .page-link {
    color: $orange;
    background-color: transparent;
    border-color: $orange;
}

// drop down
.dropdown-item.active,
.dropdown-item:active {
    background-color: $orange;
    color: $black;
}

// input checkbox
.form-check {
    .form-check-input {
        border-color: $orange;
        width: 16px;
        height: 16px;
        margin-right: 10px;

        &:focus {
            border-color: $orange;
            box-shadow: 0 0 0 0.25rem rgba($color: $orange, $alpha: 0.25);
        }

        &:disabled,
        &:disabled ~ .form-check-label {
            opacity: 1 !important;
        }
    }
}

// NO RECORD ON TABLE
.wrapper-no-records {
    background-color: $orange;
    padding: 1rem 1.5rem;
    font-weight: 500;
    border-radius: 6px;
}