#navbar {
    z-index: 100;

    .navbar-brand {

        .logo-large {
            width: 150px;
        }

        .logo-small {
            width: 35px;
            height: 35px;
        }
    
    }
}